<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>gincanasemdel2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServerVotacao</display-name>
    <servlet-name>ServerVotacao</servlet-name>
    <servlet-class>servidor.ServerVotacao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServerVotacao</servlet-name>
    <url-pattern>/ServerVotacao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServerVideo</display-name>
    <servlet-name>ServerVideo</servlet-name>
    <servlet-class>servidor.ServerVideo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServerVideo</servlet-name>
    <url-pattern>/ServerVideo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServerVotacaoSegundoDia</display-name>
    <servlet-name>ServerVotacaoSegundoDia</servlet-name>
    <servlet-class>servidor.ServerVotacaoSegundoDia</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServerVotacaoSegundoDia</servlet-name>
    <url-pattern>/ServerVotacaoSegundoDia</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServerVotacaoTerceiroDia</display-name>
    <servlet-name>ServerVotacaoTerceiroDia</servlet-name>
    <servlet-class>servidor.ServerVotacaoTerceiroDia</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServerVotacaoTerceiroDia</servlet-name>
    <url-pattern>/ServerVotacaoTerceiroDia</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServerVotacaoQuartoDia</display-name>
    <servlet-name>ServerVotacaoQuartoDia</servlet-name>
    <servlet-class>servidor.ServerVotacaoQuartoDia</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServerVotacaoQuartoDia</servlet-name>
    <url-pattern>/ServerVotacaoQuartoDia</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServerVotacaoQuintoDia</display-name>
    <servlet-name>ServerVotacaoQuintoDia</servlet-name>
    <servlet-class>servidor.ServerVotacaoQuintoDia</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServerVotacaoQuintoDia</servlet-name>
    <url-pattern>/ServerVotacaoQuintoDia</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServerVotacaoSextoDia</display-name>
    <servlet-name>ServerVotacaoSextoDia</servlet-name>
    <servlet-class>servidor.ServerVotacaoSextoDia</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServerVotacaoSextoDia</servlet-name>
    <url-pattern>/ServerVotacaoSextoDia</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServerVotacaoSetimoDia</display-name>
    <servlet-name>ServerVotacaoSetimoDia</servlet-name>
    <servlet-class>servidor.ServerVotacaoSetimoDia</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServerVotacaoSetimoDia</servlet-name>
    <url-pattern>/ServerVotacaoSetimoDia</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServerVotacaoOitavoDia</display-name>
    <servlet-name>ServerVotacaoOitavoDia</servlet-name>
    <servlet-class>servidor.ServerVotacaoOitavoDia</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServerVotacaoOitavoDia</servlet-name>
    <url-pattern>/ServerVotacaoOitavoDia</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServerVotacaoNonoDia</display-name>
    <servlet-name>ServerVotacaoNonoDia</servlet-name>
    <servlet-class>servidor.ServerVotacaoNonoDia</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServerVotacaoNonoDia</servlet-name>
    <url-pattern>/ServerVotacaoNonoDia</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServerVotacaoDecimoDia</display-name>
    <servlet-name>ServerVotacaoDecimoDia</servlet-name>
    <servlet-class>servidor.ServerVotacaoDecimoDia</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServerVotacaoDecimoDia</servlet-name>
    <url-pattern>/ServerVotacaoDecimoDia</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServerVotacaoDecimoPrimeiroDia</display-name>
    <servlet-name>ServerVotacaoDecimoPrimeiroDia</servlet-name>
    <servlet-class>servidor.ServerVotacaoDecimoPrimeiroDia</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServerVotacaoDecimoPrimeiroDia</servlet-name>
    <url-pattern>/ServerVotacaoDecimoPrimeiroDia</url-pattern>
  </servlet-mapping>
</web-app>